{% extends 'layout.html' %}


{% block body %}
<style type="text/css">
    body {
        background-color: #d62d20;
    }
    form {padding: 40px;margin-top: 30px;width: 500px;background-color: white;height: 550px;border-radius: 5px;}
</style>
{% load static %}

 <div class="middle-box text-center  animated fadeInDown">
        <div>
            
           
            
            <form method="post" action="{% url 'login' %}" style="">
            <div>

                <h1 class="logo-name"><img src="{% static '/img/janssen-logo.png' %}" alt="ITAS Logo"  style="width:400px;"></h1>

            </div>
             <h2>Welcome to RSV POC</h2>
                {% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Login in to see it in action.</p>
    {% endif %}
{% endif %}
            {% csrf_token %}
                <div class="form-group">
                    <p class="bs-component">
                           
                                <div class="form-group">
                                    {{ form.username.label_tag }}&nbsp;
                                    {{ form.username }}
                                </div>
                                
                                <div class="form-group">
                                    {{ form.password.label_tag }}&nbsp;
                                    {{ form.password }}
                                </div>
                                
                        </p>
                <button type="submit" class="btn-lg btn-primary block full-width m-b" value="login">Login</button>
                 <input type="hidden" name="next" value="{{ next }}" />

               
            </form>
            
        </div>
    </div>

{% endblock %}
