{% extends 'layout.html' %}
{% block title %}RSV Demo{% endblock %}

{% block body %}{% load static %}
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <input type="hidden" id=rsvdata value="{{rsvfile}}">
        <div class="row border-bottom">
        </div>
        <div class="row  border-bottom white-bg dashboard-header" style="display: flex; align-items:center; padding-left: 0; padding-right: 0">
            <div class="col-lg-3 text-left" style="padding-left: 5px">
                <img src="{% static '/img/janssen-logo.png' %}" alt="ITAS Logo"  style="width:200px;">
                <br/>
                <br/>
            </div>
            <div class="col-lg-6 text-right" style="text-align: center">
                <h1> RSV Watch Data Visualization</h1>
            </div>
            <div class="col-lg-3 text-right" style="padding-right: 5px">
                <button class="btn btn-lg btn-danger" href="/download?docname={{savedDocument}}"><a style="color: white; text-align: center;" href="/rsvdemo/download"><i class="fa fa-cloud-download"></i> Download User Data</a></button>
            </div>
        </div>
        <input type="hidden" id=rsvdata value="{{rsvfile}}">
        <div class="wrapper wrapper-content" style="padding-top: 0px; padding-left: 0; padding-right: 0;">
            <div class="row">
                <script type="text/javascript">
                    var data = document.getElementById("rsvdata").value;
                </script>
                <script src="../static/js/analysisGraphs.js"></script>
                <link href="../static/css/analysisGraphs.css" rel="stylesheet">
                <!--        do not remove this script. it is needed to get data from server-->
                <!--        do not remove this script. it is needed to get data from server-->
                <div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
                    <ul id="tabNav" class="nav nav-tabs nav-justified">
                        <li><a id="appAccessTab" class="activeTab" onclick="changeTab(this, appAccessContainer)">Application Access Frequency</a></li>
                        <li><a id="sympFreqTab" onclick="changeTab(this, sympFreqContainer)">Symptom Frequency</a></li>
                        <li><a id="sympResponseTab" onclick="changeTab(this, sympResponseContainer)">Symptom Response Frequency</a></li>
                        <li><a id="userSympMapTab" onclick="changeTab(this, userSympMapContainer)">Adhoc Query Frequency</a></li>
                    </ul>
                    <br>
                   

<!--Application Access Graph                    -->
                    <div style="padding-top: 10px; display: block" id="appAccessContainer" class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins " style="margin-top: 0px">
                                    <div class="ibox-title text-center" style="height:55px; min-height:55px;">
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                        <h2 class="" style="color: #ED2835">
                                        Data Filters
                                        </h2>
                                    </div>
                                    <div class="ibox-content" style="display: none; height:90px;">
                                        <div class="form-group col-lg-5">
                                            <label class="font-noraml">Subject ID</label>
                                            <div>
                                                <select data-placeholder="Choose a Country..." class="chosen-select"  tabindex="2" id="subjectidAAF">
                                                    <option value="" >All</option>    
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-5">
                                            <label class="font-noraml">Change Date</label>
                                            <div id="reportrangeAAF" class="form-control datePicker">
                                                <i class="fa fa-calendar"></i>
                                                <span></span> <b class="caret"></b>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 text-center" style="text-align: -webkit-center; padding-top:15px;">

                                            <div class="input-group text-center">
                                                <span class="btn btn-lg btn-danger  text-center" data-placement="top" onclick="aaf(true)">Apply Filters</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <div class="col-lg-6">
                                            <h1 style="text-align: center; margin-top: 0px; display: inline-block;"><span class="headername"></span>Application Access Frequency</h1>
                                        </div>
                                        <div class="col-lg-6">
                                            <h3 style="display: inline-block; padding-right:20px;">User: <span id="userAAF">All</span></h3>
                                            <h3 style="display: inline-block; padding-right:20px;">Date Range: <span id="dateAAF">All</span></h3>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div id="chart1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
<!--SYMPTOM FREQ GRAPH                    -->
                    
                    <div style="padding-top: 10px; display: none" id="sympFreqContainer" class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins " style="margin-top: 0px">

                                     <div class="ibox-title text-center" style="height:55px; min-height:55px;">
                                      <div class="ibox-tools">
                                            <a class="collapse-link">
                                            <i class="fa fa-chevron-down"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <!-- <li><a href="form_advanced.html#">Config option 13</a>
                                                </li>
                                                <li><a href="form_advanced.html#">Config option 2</a>
                                                </li> -->
                                            </ul>
                                            
                                        </div>
                                        <h2 class="" style="color: #ED2835">
                                            Data Filters
                                        </h2>
                                    </div>
                                    <div class="ibox-content" style="display: none; height:90px;">
                                        <div class="form-group col-lg-2">
                                            <label class="font-noraml">Subject ID</label>
                                            <div>
                                                <select data-placeholder="Filter SubjectID" class="chosen-select"  tabindex="2" id="subjectidSF">
                                                    <option value="" >All</option>    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-5">
                                            <label class="font-noraml">Symptom</label>
                                            <div>
                                                <select data-placeholder=" " class="chosen-select" multiple style="width:350px;" tabindex="4" id="symptomidSF">   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="font-noraml">Change Date</label>
                                            <div id="reportrangeSF" class="form-control datePicker">
                                                <i class="fa fa-calendar"></i>
                                                <span></span> <b class="caret"></b>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 text-center" style="text-align: -webkit-center; padding-top:15px;">

                                            <div class="input-group text-center">
                                              <span class="btn btn-lg btn-danger  text-center" data-placement="top" onclick="sf(true)">Apply Filters</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <div class="col-lg-6">
                                        <h1 style="text-align: center; margin-top: 0px; display: inline-block;"><span class="headername"></span>Symptom Frequency</h1>
                                    </div>
                                    <div class="col-lg-6">
                                            <h3 style="display: inline-block; padding-right:20px;">User: <span id="userSF">All</span></h3>
                                            <h3 style="display: inline-block; padding-right:20px;">Date Range: <span id="dateSF">All</span></h3>
                                            <h3 style="display: inline-block; padding-right:20px;">Symptom: <span id="sympSF">All</span></h3>
                                    </div>
                                </div>
                                <div class="ibox-content" display="inline-block">
                                    <div id="chart2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
<!--AD-HOC GRAPH     -->
                    <div style="padding-top: 10px; display: none" id="userSympMapContainer" class="container">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins " style="margin-top: 0px">

                                     <div class="ibox-title text-center" style="height:55px; min-height:55px;">
                                      <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-down"></i>
                                            </a>
                                        </div>
                                        <h2 class="" style="color: #ED2835">
                                            Data Filters
                                        </h2>
                                    </div>
                                    <div class="ibox-content" style="display: none; height:90px;">
                                        <div class="form-group col-lg-5">
                                            <label class="font-noraml">Subject ID</label>
                                            <div>
                                                <select data-placeholder="Filter SubjectID" class="chosen-select"  tabindex="2" id="subjectidAF">
                                                    <option value=""> </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <label class="font-noraml">Change Date</label>
                                            <div id="reportrangeAF" class="form-control datePicker">
                                                <i class="fa fa-calendar"></i>
                                                <span></span> <b class="caret"></b>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 text-center" style="text-align: -webkit-center; padding-top:15px;">

                                            <div class="input-group text-center">
                                              <span class="btn btn-lg btn-danger  text-center" data-placement="top" onclick="srf(true)">Apply Filters</span>
                                            </div>

                                       </div>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <div class="col-lg-6">
                                        <h1 style="text-align: center; margin-top: 0px; display: inline-block;"><span class="headername"></span>Adhoc Query Frequency</h1>
                                    </div>
                                    <div class="col-lg-6">
                                            <h3 style="display: inline-block; padding-right:20px;">User: <span id="userAF">001</span></h3>
                                            <h3 style="display: inline-block; padding-right:20px;">Date Range: <span id="dateAF">All</span></h3>
                                    </div>
                                </div>
                                <div class="ibox-content" display="inline-block">
                                    <div id="chart3"></div>
                                </div>
                            </div>
                        </div>
                    </div>

<!--SYMP RESPONSE GRAPH     -->
                    <div style="padding-top: 10px; display: none" id="sympResponseContainer" class="container">
                        <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins " style="margin-top: 0px">

                                     <div class="ibox-title text-center" style="height:55px; min-height:55px;">
                                      <div class="ibox-tools">
                                            <a class="collapse-link">
                                            <i class="fa fa-chevron-down"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <!-- <li><a href="form_advanced.html#">Config option 13</a>
                                                </li>
                                                <li><a href="form_advanced.html#">Config option 2</a>
                                                </li> -->
                                            </ul>

                                        </div>
                                        <h2 class="" style="color: #ED2835">
                                            Data Filters
                                        </h2>
                                    </div>
                                    <div class="ibox-content" style="display: none; height:90px;">
                                        <div class="form-group col-lg-2">
                                            <label class="font-noraml">Subject ID</label>
                                            <div>
                                                <select data-placeholder="Filter SubjectID" class="chosen-select"  tabindex="2" id="subjectidSRF">
                                                    <option value="" >All</option>    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label class="font-noraml">Symptom</label>
                                            <div>
                                                <select data-placeholder="Filter Symptoms" class="chosen-select" style="width:350px;" tabindex="4" id="symptomidSRF"> 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-noraml">Change Date</label>
                                            <div id="reportrangeSRF" class="form-control datePicker">
                                                <i class="fa fa-calendar"></i>
                                                <span></span> <b class="caret"></b>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 text-center" style="text-align: -webkit-center; padding-top:15px;">

                                            <div class="input-group text-center">
                                              <span class="btn btn-lg btn-danger  text-center" data-placement="top" onclick="af(true)">Apply Filters</span>
                                            </div>

                                       </div>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <div class="col-lg-6">
                                        <h1 style="text-align: center; margin-top: 0px; display: inline-block;"><span class="headername"></span>Symptom Response Frequency</h1>
                                    </div>
                                    <div class="col-lg-6">
                                            <h3 style="display: inline-block; padding-right:20px;">User: <span id="userSRF">All</span></h3>
                                            <h3 style="display: inline-block; padding-right:20px;">Date Range: <span id="dateSRF">All</span></h3>
                                            <h3 style="display: inline-block; padding-right:20px;">Symptom: <span id="sympSRF">Coughing</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content" display="inline-block">
                            <div id="chart4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    

            
    
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    var subjectid = 0
    doEverything()

    $('.datePicker').daterangepicker({
        format: 'MM/DD/YYYY',
        startDate: '08/24/2016',
        minDate: '08/24/2016',
        maxDate: new Date(),
//                dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        opens: 'right',
        drops: 'down',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-primary',
        cancelClass: 'btn-default',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Cancel',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
    }, function(start, end, label) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    });
    
    for(i = 0; i < subjectIDUnique.length; i++) {
        $('#subjectidAAF').append('<option value="'+subjectIDUnique[i]+'">'+subjectIDUnique[i]+'</option>')
        $('#subjectidSF').append('<option value="'+subjectIDUnique[i]+'">'+subjectIDUnique[i]+'</option>')
        $('#subjectidSRF').append('<option value="'+subjectIDUnique[i]+'">'+subjectIDUnique[i]+'</option>')
        $('#subjectidAF').append('<option value="'+subjectIDUnique[i]+'">'+subjectIDUnique[i]+'</option>')
    }
    var allSymptoms = getUniqueSymptomsFromFilter(master)
     for(i = 0; i < allSymptoms.length; i++) {
        $('#symptomidSF').append('<option value="'+allSymptoms[i]+'">'+allSymptoms[i]+'</option>')
        $('#symptomidSRF').append('<option value="'+allSymptoms[i]+'">'+allSymptoms[i]+'</option>')
    }
    $(document).ready(function () {
    $('.chosen-select').chosen({width: "100%"});
    $('.chosen-select').chosen().change(function() {
       subjectid = $('.chosen-single span')[0].innerHTML
    });
        
});
</script>
{% endblock %}
